.App {
  font-family: sans-serif;
  text-align: center;
}

/* .cards {
  display: block !important;
  flex-direction: column !important;
}

.card {
  width: 50% !important;
  border: 2px solid black;
  box-shadow: 0 2px 3px #eee;
  margin: 10px;
} */
